<p id="notice"><%= notice %></p>
<br>
<br>
<br>

<h1>Events</h1>

<table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Place</th>
      <th>Purpose</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% if current_user.events.exists? %>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.owner.email %></td>
        <td><%= event.time %></td>
        <td><%= event.place %></td>
        <td><%= event.purpose %></td>
        <td><%= link_to 'Show', event %></td>
      </tr>
    <% end %>
  <% end %>  
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
